# AULA 01

## Objetivos da aula

- Compreensão de séries e dataFrames
- Importação de diferentes tipos de bases
- Criação de dataFrames
- Compreensão das medidas estatísticas
- Limpeza das bases:
  - valores nulos
  - colunas dispensáveis
  - renomear colunas
- Detecção dos tipos de dados
- Elaboração de hipóteses

## Series e DataFrames

Series: Uma Series é uma estrutura de dados unidimensional que pode ser vista como uma coluna em uma planilha ou uma única coluna de um DataFrame. É uma estrutura de dados que permite armazenar dados de um ***único tipo***, semelhante a um array ou lista em Python.

In [ ]:
listaNotas = [8,10,3,8,9]
listaNotas

[8, 10, 3, 8, 9]

In [ ]:
alunos = ["Ana", "João", "Paulo", "Maria", "Carlos"]
alunos

['Ana', 'João', 'Paulo', 'Maria', 'Carlos']

In [ ]:
import pandas as pd

In [ ]:
notasSeries = pd.Series(listaNotas)
notasSeries

0     8
1    10
2     3
3     8
4     9
dtype: int64

In [ ]:
alunosSeries = pd.Series(alunos)
alunosSeries

0       Ana
1      João
2     Paulo
3     Maria
4    Carlos
dtype: object

In [ ]:
notasSeries[3]="faltou"
notasSeries

0         8
1        10
2         3
3    faltou
4         9
dtype: object

DataFrame: Um DataFrame é uma estrutura de dados bidimensional, semelhante a uma tabela em um banco de dados ou uma planilha do Excel. Ele é composto por colunas (que são objetos Series) e linhas, permitindo que você armazene dados de diferentes tipos em cada coluna.

In [ ]:
objNotasAlunos = { "aluno" : alunos , "nota": listaNotas}
objNotasAlunos

{'aluno': ['Ana', 'João', 'Paulo', 'Maria', 'Carlos'],
 'nota': [8, 10, 3, 8, 9]}

In [ ]:
objNotasAlunos['aluno'][1]

'João'

In [ ]:
dfAlunosNotas = pd.DataFrame(objNotasAlunos)
dfAlunosNotas

    aluno  nota
0     Ana     8
1    João    10
2   Paulo     3
3   Maria     8
4  Carlos     9

In [ ]:
dfAlunosNotas["nota"][2]= "faltou"
dfAlunosNotas["nota"]

<ipython-input-24-fbf8677d5046>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfAlunosNotas["nota"][2]= "faltou"

0         8
1        10
2    faltou
3         8
4         9
Name: nota, dtype: object

In [ ]:
dfAlunos = pd.DataFrame(alunos)
dfAlunos[0]

0       Ana
1      João
2     Paulo
3     Maria
4    Carlos
Name: 0, dtype: object

## Importação de bases em diferentes formatos

Para análise de dados, é comum importar dados externos em diferentes formatos de arquivo. O pandas oferece a funcionalidade pd.read_csv() para carregar dados a partir de arquivos CSV. Além disso, ele permite importar dados de outros formatos, incluindo Excel, JSON, bancos de dados SQL e HTML. O pandas também oferece suporte a formatos otimizados para big data, como HDF5 e Parquet, tornando-o uma ferramenta versátil para manipulação e análise de uma ampla gama de fontes de dados.

Para nossa aula usaremos a base de dados disponíveis no GitHub [neste link](https://github.com/techcomkathia/datasets)

## EXCEL

Com o método `pd.read_excel()` podemos construir um dataFrame com base em um arquivo excel.

Utilize o banco de dados **clientes_tratamento.xlsx**

In [ ]:
df_clientes = pd.read_excel("/content/sample_data/clientes_tratamento.xlsx")
df_clientes

,nome,Unnamed: 1,cpf,rg,data_nasc,sexo,signo,mae,pai,email,...,cidade,estado,telefone_fixo,celular,altura,peso,Unnamed: 21,tipo_sanguineo,cor,valor_compra
0,Cauã Iago Paulo Jesus,NaN,025.293.734-18,22.866.798-7,1953-01-19,Masculino,Capricórnio,Sophia Nair Antônia,Marcelo Sérgio Enrico Jesus,caua_iago_jesus@hlt.arq.br,...,Parnamirim,RN,(84) 2831-4233,(84) 98671-5320,NaN,70.0,NaN,AB+,vermelho,5300.0
1,Aparecida Cristiane da Cunha,NaN,363.545.494-00,48.396.627-7,1974-02-17,Feminino,Aquário,Rafaela Nicole,Bernardo Pedro da Cunha,aparecida-dacunha89@redhouse.com.br,...,Aracaju,SE,(79) 2600-6520,(79) 98333-4589,NaN,52.0,NaN,AB-,azul,1400.0
2,Ricardo Manuel Martin dos Santos,NaN,387.779.416-59,44.503.380-0,1952-02-22,Masculino,Peixes,Julia Rosa,Osvaldo Gustavo Lorenzo dos Santos,ricardomanueldossantos@moderna.com.br,...,Maceió,AL,(82) 3901-1268,(82) 99245-6058,NaN,73.0,NaN,A+,laranja,2100.0
3,Marcelo Bryan Farias,NaN,735.001.987-40,10.801.911-1,1948-01-02,Masculino,Capricórnio,Olivia Carla,Roberto Manuel Farias,marcelo.bryan.farias@unink.com.br,...,Palmas,TO,(63) 3809-7936,(63) 99237-1399,NaN,68.0,NaN,O+,verde,3500.0
4,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Maria Yasmin Barros,NaN,965.130.621-10,17.637.424-3,1948-02-13,Feminino,Aquário,Stella Simone Mariane,Raul Daniel Barros,maria_barros@solviagens.com,...,Maceió,AL,(82) 2680-6459,(82) 99880-2596,NaN,84.0,NaN,B-,amarelo,5300.0
176,Lucca Osvaldo Bernardes,NaN,751.811.881-50,40.571.734-9,1986-03-02,Masculino,Peixes,Luna Mariah Nina,Thomas Nathan Bernardes,lucca_osvaldo_bernardes@monsanto.com,...,Parnaíba,PI,(86) 3934-1199,(86) 99264-0791,NaN,90.0,NaN,O-,azul,2500.0
177,Osvaldo João Fernandes,NaN,202.283.219-13,13.288.086-6,1954-03-02,Masculino,Peixes,Allana Elisa,Augusto Benedito Fernandes,osvaldojoaofernandes@sanidet.com.br,...,Cabedelo,PB,(83) 3720-7532,(83) 98986-1463,NaN,93.0,NaN,AB+,preto,5300.0
178,Fátima Sarah Alícia Vieira,NaN,661.897.486-00,22.943.110-0,1943-01-23,Feminino,Aquário,Malu Luna,Diego Igor Paulo Vieira,fatima_sarah_vieira@gruppoitalia.com.br,...,Brasília,DF,(61) 2827-3826,(61) 98936-9189,NaN,76.0,NaN,AB-,vermelho,2100.0

##csv

Com `pd.read_csv()` podemos construir um df com um arquivo csv. Esse csv pode vir de diversos formatos, separado por `,` `;` `- `e outros tipos de tabulação.
Para isso contamos com o parâmetro `sep`.

Utilize https://github.com/techcomkathia/datasets/blob/main/IMC.csv

In [ ]:
dfIMC = pd.read_csv('https://raw.githubusercontent.com/techcomkathia/datasets/main/IMC.csv', sep = ';')
dfIMC

In [ ]:
dfIMC.info()

# Limpeza de dados

##Compreensão dos dados

A organização do nosso dataFrame é crucial para análises precisas. Muitas vezes recebemos bases poluídas, com linhas e/ ou colunas nulas, além de colunas dispensáveis. O tratamento desses dados se torna necessário para evitar distorções e simplificar a base.

Além da remoção de informações indesejadas é muito comum a renomeação de colunas, para tornar nossos dados mais descritivos.

In [ ]:
df_clientes.shape

(179, 25)

In [ ]:
df_clientes.head()

,nome,Unnamed: 1,cpf,rg,data_nasc,sexo,signo,mae,pai,email,...,cidade,estado,telefone_fixo,celular,altura,peso,Unnamed: 21,tipo_sanguineo,cor,valor_compra
0,Cauã Iago Paulo Jesus,NaN,025.293.734-18,22.866.798-7,1953-01-19,Masculino,Capricórnio,Sophia Nair Antônia,Marcelo Sérgio Enrico Jesus,caua_iago_jesus@hlt.arq.br,...,Parnamirim,RN,(84) 2831-4233,(84) 98671-5320,NaN,70.0,NaN,AB+,vermelho,5300.0
1,Aparecida Cristiane da Cunha,NaN,363.545.494-00,48.396.627-7,1974-02-17,Feminino,Aquário,Rafaela Nicole,Bernardo Pedro da Cunha,aparecida-dacunha89@redhouse.com.br,...,Aracaju,SE,(79) 2600-6520,(79) 98333-4589,NaN,52.0,NaN,AB-,azul,1400.0
2,Ricardo Manuel Martin dos Santos,NaN,387.779.416-59,44.503.380-0,1952-02-22,Masculino,Peixes,Julia Rosa,Osvaldo Gustavo Lorenzo dos Santos,ricardomanueldossantos@moderna.com.br,...,Maceió,AL,(82) 3901-1268,(82) 99245-6058,NaN,73.0,NaN,A+,laranja,2100.0
3,Marcelo Bryan Farias,NaN,735.001.987-40,10.801.911-1,1948-01-02,Masculino,Capricórnio,Olivia Carla,Roberto Manuel Farias,marcelo.bryan.farias@unink.com.br,...,Palmas,TO,(63) 3809-7936,(63) 99237-1399,NaN,68.0,NaN,O+,verde,3500.0
4,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_clientes.tail()

,nome,Unnamed: 1,cpf,rg,data_nasc,sexo,signo,mae,pai,email,...,cidade,estado,telefone_fixo,celular,altura,peso,Unnamed: 21,tipo_sanguineo,cor,valor_compra
174,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,Maria Yasmin Barros,NaN,965.130.621-10,17.637.424-3,1948-02-13,Feminino,Aquário,Stella Simone Mariane,Raul Daniel Barros,maria_barros@solviagens.com,...,Maceió,AL,(82) 2680-6459,(82) 99880-2596,NaN,84.0,NaN,B-,amarelo,5300.0
176,Lucca Osvaldo Bernardes,NaN,751.811.881-50,40.571.734-9,1986-03-02,Masculino,Peixes,Luna Mariah Nina,Thomas Nathan Bernardes,lucca_osvaldo_bernardes@monsanto.com,...,Parnaíba,PI,(86) 3934-1199,(86) 99264-0791,NaN,90.0,NaN,O-,azul,2500.0
177,Osvaldo João Fernandes,NaN,202.283.219-13,13.288.086-6,1954-03-02,Masculino,Peixes,Allana Elisa,Augusto Benedito Fernandes,osvaldojoaofernandes@sanidet.com.br,...,Cabedelo,PB,(83) 3720-7532,(83) 98986-1463,NaN,93.0,NaN,AB+,preto,5300.0
178,Fátima Sarah Alícia Vieira,NaN,661.897.486-00,22.943.110-0,1943-01-23,Feminino,Aquário,Malu Luna,Diego Igor Paulo Vieira,fatima_sarah_vieira@gruppoitalia.com.br,...,Brasília,DF,(61) 2827-3826,(61) 98936-9189,NaN,76.0,NaN,AB-,vermelho,2100.0

## Detecção dos tipos de dados

Uma das tarefas importantes que o pandas executa automaticamente é a detecção dos tipos de dados nas colunas dos DataFrames. Isso é fundamental para garantir que os dados sejam interpretados corretamente e para realizar operações apropriadas com eles.

A detecção de tipos de dados no pandas é realizada principalmente durante a leitura de dados a partir de diferentes fontes, como arquivos CSV, Excel, JSON, bancos de dados, etc.

Os tipos existentes são:

- Inteiro (int): int8, int16, int32 ou int64.

- Ponto Flutuante (float): float32 ou float64.

- Data e Hora (datetime): formatos de datas e horários.

- Texto (object): textos e caracteres não numéricos.

- Booleano (bool) : true / false.

- Período (period): séries temporais com informações de período específico.

com o método **.info()** é possível realizar a visualização de forma rapida dos dados armazenados por cada coluna.

In [ ]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   nome            161 non-null    object
 1   Unnamed: 1      0 non-null      float64
 2   cpf             161 non-null    object
 3   rg              161 non-null    object
 4   data_nasc       161 non-null    datetime64[ns]
 5   sexo            161 non-null    object
 6   signo           161 non-null    object
 7   mae             161 non-null    object
 8   pai             161 non-null    object
 9   email           161 non-null    object
 10  cep             158 non-null    object
 11  endereco        158 non-null    object
 12  numero          158 non-null    float64
 13  bairro          158 non-null    object
 14  data            158 non-null    datetime64[ns]
 15  cidade          158 non-null    object
 16  estado          158 non-null    object
 17  telefone_fixo   158 non-null    object
 18  celular         158 non-null    object
 19  altura          0 non-null      float64
 20  peso            158 non-null    float64
 21  Unnamed: 21     0 non-null      float64
 22  tipo_sanguineo  158 non-null    object
 23  cor             158 non-null    object
 24  valor_compra    158 non-null    float64
dtypes: datetime64[ns](2), float64(6), object(17)
memory usage: 35.1+ KB

## Mudando tipos de dados com Pandas

O Pandas oferece uma ampla gama de possibilidades para manipular e alterar os tipos de dados em DataFrames, proporcionando flexibilidade e controle sobre como seus dados são tratados.

Conversão de Tipos Numéricos:
- ` pd.to_numeric()`, você pode converter colunas para tipos numéricos (inteiros ou números de ponto flutuante)

Conversão de Tipos de Data:
- `pd.to_datetime()` permite a conversão de colunas para tipos de data e hora.

Conversão de tipo para Texto:
- `pd.astype(object)` permite converter colunas para texto , caso você precise representar os números como texto em algum momento.

Conversão de tipo para Booleanos:
- `.astype(bool)` para converter colunas em tipos booleanos (True/False) quando os dados representam valores lógicos.

##Exclusão de linhas nulas

Com o atributo DataFrame.columns nos é retornado um array com os nomes de todas as colunas

In [ ]:
dfClientes_trat= df_clientes.dropna(axis=0,how="all")
dfClientes_trat

,nome,Unnamed: 1,cpf,rg,data_nasc,sexo,signo,mae,pai,email,...,cidade,estado,telefone_fixo,celular,altura,peso,Unnamed: 21,tipo_sanguineo,cor,valor_compra
0,Cauã Iago Paulo Jesus,NaN,025.293.734-18,22.866.798-7,1953-01-19,Masculino,Capricórnio,Sophia Nair Antônia,Marcelo Sérgio Enrico Jesus,caua_iago_jesus@hlt.arq.br,...,Parnamirim,RN,(84) 2831-4233,(84) 98671-5320,NaN,70.0,NaN,AB+,vermelho,5300.0
1,Aparecida Cristiane da Cunha,NaN,363.545.494-00,48.396.627-7,1974-02-17,Feminino,Aquário,Rafaela Nicole,Bernardo Pedro da Cunha,aparecida-dacunha89@redhouse.com.br,...,Aracaju,SE,(79) 2600-6520,(79) 98333-4589,NaN,52.0,NaN,AB-,azul,1400.0
2,Ricardo Manuel Martin dos Santos,NaN,387.779.416-59,44.503.380-0,1952-02-22,Masculino,Peixes,Julia Rosa,Osvaldo Gustavo Lorenzo dos Santos,ricardomanueldossantos@moderna.com.br,...,Maceió,AL,(82) 3901-1268,(82) 99245-6058,NaN,73.0,NaN,A+,laranja,2100.0
3,Marcelo Bryan Farias,NaN,735.001.987-40,10.801.911-1,1948-01-02,Masculino,Capricórnio,Olivia Carla,Roberto Manuel Farias,marcelo.bryan.farias@unink.com.br,...,Palmas,TO,(63) 3809-7936,(63) 99237-1399,NaN,68.0,NaN,O+,verde,3500.0
5,Yago Luís Theo Lopes,NaN,343.806.963-67,15.315.345-3,1943-02-16,Masculino,Aquário,Lúcia Raquel,Heitor Levi Raimundo Lopes,yago_lopes@fedato.com.br,...,Castanhal,PA,(91) 2872-1492,(91) 98257-1695,NaN,77.0,NaN,AB-,verde,3400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,César André Isaac Pinto,NaN,018.640.515-40,23.361.694-9,1981-03-01,Masculino,Peixes,Tânia Marlene Laura,Benício Lucca Pinto,cesar-pinto73@comanzzaindaia.com.br,...,Maceió,AL,(82) 2994-8461,(82) 99157-6962,NaN,68.0,NaN,A+,vermelho,3400.0
175,Maria Yasmin Barros,NaN,965.130.621-10,17.637.424-3,1948-02-13,Feminino,Aquário,Stella Simone Mariane,Raul Daniel Barros,maria_barros@solviagens.com,...,Maceió,AL,(82) 2680-6459,(82) 99880-2596,NaN,84.0,NaN,B-,amarelo,5300.0
176,Lucca Osvaldo Bernardes,NaN,751.811.881-50,40.571.734-9,1986-03-02,Masculino,Peixes,Luna Mariah Nina,Thomas Nathan Bernardes,lucca_osvaldo_bernardes@monsanto.com,...,Parnaíba,PI,(86) 3934-1199,(86) 99264-0791,NaN,90.0,NaN,O-,azul,2500.0
177,Osvaldo João Fernandes,NaN,202.283.219-13,13.288.086-6,1954-03-02,Masculino,Peixes,Allana Elisa,Augusto Benedito Fernandes,osvaldojoaofernandes@sanidet.com.br,...,Cabedelo,PB,(83) 3720-7532,(83) 98986-1463,NaN,93.0,NaN,AB+,preto,5300.0
178,Fátima Sarah Alícia Vieira,NaN,661.897.486-00,22.943.110-0,1943-01-23,Feminino,Aquário,Malu Luna,Diego Igor Paulo Vieira,fatima_sarah_vieira@gruppoitalia.com.br,...,Brasília,DF,(61) 2827-3826,(61) 98936-9189,NaN,76.0,NaN,AB-,vermelho,2100.0

## Exclusão de colunas

Muitas vezes recebemos colunas completamente nulas, seja por erro na extração de dados seja pela própria construção da base. Com o método `df.info()` podemos ver os tipos de dados armazenados em cada coluna e ver a quantidade de nulos existentes

In [ ]:
df_clientes.info()

com o atributo `df.columns` recebemos um array com apenas os nomes das colunas presentes no dataframe

In [ ]:
df_clientes.columns

utilizaremos o método `.dropna()` também para as colunas, mas agora associando o parâmetro **inplace.**

In [ ]:
dfClientes_trat.dropna(axis=1, how="all", inplace=True)
dfClientes_trat

<ipython-input-52-174ade81984a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfClientes_trat.dropna(axis=1, how="all", inplace=True)

,nome,cpf,rg,data_nasc,sexo,signo,mae,pai,email,cep,...,bairro,data,cidade,estado,telefone_fixo,celular,peso,tipo_sanguineo,cor,valor_compra
0,Cauã Iago Paulo Jesus,025.293.734-18,22.866.798-7,1953-01-19,Masculino,Capricórnio,Sophia Nair Antônia,Marcelo Sérgio Enrico Jesus,caua_iago_jesus@hlt.arq.br,59141-040,...,Santos Reis,2022-03-22,Parnamirim,RN,(84) 2831-4233,(84) 98671-5320,70.0,AB+,vermelho,5300.0
1,Aparecida Cristiane da Cunha,363.545.494-00,48.396.627-7,1974-02-17,Feminino,Aquário,Rafaela Nicole,Bernardo Pedro da Cunha,aparecida-dacunha89@redhouse.com.br,49035-640,...,Coroa do Meio,2022-03-22,Aracaju,SE,(79) 2600-6520,(79) 98333-4589,52.0,AB-,azul,1400.0
2,Ricardo Manuel Martin dos Santos,387.779.416-59,44.503.380-0,1952-02-22,Masculino,Peixes,Julia Rosa,Osvaldo Gustavo Lorenzo dos Santos,ricardomanueldossantos@moderna.com.br,57073-205,...,Cidade Universitária,2022-03-22,Maceió,AL,(82) 3901-1268,(82) 99245-6058,73.0,A+,laranja,2100.0
3,Marcelo Bryan Farias,735.001.987-40,10.801.911-1,1948-01-02,Masculino,Capricórnio,Olivia Carla,Roberto Manuel Farias,marcelo.bryan.farias@unink.com.br,77066-120,...,Setor Morada do Sol 2 (Taquaralto),2022-03-22,Palmas,TO,(63) 3809-7936,(63) 99237-1399,68.0,O+,verde,3500.0
5,Yago Luís Theo Lopes,343.806.963-67,15.315.345-3,1943-02-16,Masculino,Aquário,Lúcia Raquel,Heitor Levi Raimundo Lopes,yago_lopes@fedato.com.br,68742-833,...,Nova Olinda,2022-03-22,Castanhal,PA,(91) 2872-1492,(91) 98257-1695,77.0,AB-,verde,3400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,César André Isaac Pinto,018.640.515-40,23.361.694-9,1981-03-01,Masculino,Peixes,Tânia Marlene Laura,Benício Lucca Pinto,cesar-pinto73@comanzzaindaia.com.br,57048-278,...,Antares,2022-03-27,Maceió,AL,(82) 2994-8461,(82) 99157-6962,68.0,A+,vermelho,3400.0
175,Maria Yasmin Barros,965.130.621-10,17.637.424-3,1948-02-13,Feminino,Aquário,Stella Simone Mariane,Raul Daniel Barros,maria_barros@solviagens.com,57081-743,...,Tabuleiro do Martins,2022-03-27,Maceió,AL,(82) 2680-6459,(82) 99880-2596,84.0,B-,amarelo,5300.0
176,Lucca Osvaldo Bernardes,751.811.881-50,40.571.734-9,1986-03-02,Masculino,Peixes,Luna Mariah Nina,Thomas Nathan Bernardes,lucca_osvaldo_bernardes@monsanto.com,64218-825,...,Bebedouro,2022-03-27,Parnaíba,PI,(86) 3934-1199,(86) 99264-0791,90.0,O-,azul,2500.0
177,Osvaldo João Fernandes,202.283.219-13,13.288.086-6,1954-03-02,Masculino,Peixes,Allana Elisa,Augusto Benedito Fernandes,osvaldojoaofernandes@sanidet.com.br,58102-770,...,Parque Verde,2022-03-27,Cabedelo,PB,(83) 3720-7532,(83) 98986-1463,93.0,AB+,preto,5300.0
178,Fátima Sarah Alícia Vieira,661.897.486-00,22.943.110-0,1943-01-23,Feminino,Aquário,Malu Luna,Diego Igor Paulo Vieira,fatima_sarah_vieira@gruppoitalia.com.br,72420-170,...,Setor Oeste (Gama),2022-03-27,Brasília,DF,(61) 2827-3826,(61) 98936-9189,76.0,AB-,vermelho,2100.0

Para a limpeza de dados ainda é importante verificar se existem colunas dispensáveis a nossa análise de dados.

In [ ]:
dfClientes_trat.columns

Index(['nome', 'cpf', 'rg', 'data_nasc', 'sexo', 'mae', 'pai', 'cep',
       'endereco', 'numero', 'bairro', 'data', 'cidade', 'estado', 'peso',
       'valor_compra'],
      dtype='object')

Se existirem, faremos a exclusão, agora nominalmente através do método `.drop()` passando para o parâmtro **columns** o array de colunas a ser removido e podendo associar com o parâmetro **inplace**

In [ ]:
dfClientes_trat.drop(columns=['cor', 'email', 'telefone_fixo','celular', 'signo', 'tipo_sanguineo'], inplace=True)

<ipython-input-60-994c83766403>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfClientes_trat.drop(columns=['cor', 'email', 'telefone_fixo','celular', 'signo', 'tipo_sanguineo'], inplace=True)

In [ ]:
dfClientes_trat.columns

Index(['nome', 'cpf', 'rg', 'data_nasc', 'sexo', 'mae', 'pai', 'cep',
       'endereco', 'numero', 'bairro', 'data', 'cidade', 'estado', 'peso',
       'valor_compra'],
      dtype='object')

tipos de dados por cada coluna após tratamento

In [ ]:
dfClientes_trat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 0 to 178
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nome          161 non-null    object
 1   cpf           161 non-null    object
 2   rg            161 non-null    object
 3   data_nasc     161 non-null    datetime64[ns]
 4   sexo          161 non-null    object
 5   mae           161 non-null    object
 6   pai           161 non-null    object
 7   cep           158 non-null    object
 8   endereco      158 non-null    object
 9   numero        158 non-null    float64
 10  bairro        158 non-null    object
 11  data          158 non-null    datetime64[ns]
 12  cidade        158 non-null    object
 13  estado        158 non-null    object
 14  peso          158 non-null    float64
 15  valor_compra  158 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(11)
memory usage: 21.4+ KB

## renomear colunas

para renomear as colunas de um dataframe devemos utilizar o método `df.rename(columns = {'nomeAtualColuna':'novoNomeColuna'})`

In [ ]:
dfClientes_trat= dfClientes_trat.rename(columns={'data':'dataCompra'})

In [ ]:
dfClientes_trat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161 entries, 0 to 178
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   nome          161 non-null    object
 1   cpf           161 non-null    object
 2   rg            161 non-null    object
 3   data_nasc     161 non-null    datetime64[ns]
 4   sexo          161 non-null    object
 5   mae           161 non-null    object
 6   pai           161 non-null    object
 7   cep           158 non-null    object
 8   endereco      158 non-null    object
 9   numero        158 non-null    float64
 10  bairro        158 non-null    object
 11  dataCompra    158 non-null    datetime64[ns]
 12  cidade        158 non-null    object
 13  estado        158 non-null    object
 14  peso          158 non-null    float64
 15  valor_compra  158 non-null    float64
dtypes: datetime64[ns](2), float64(3), object(11)
memory usage: 21.4+ KB

#Principais medidas estatísticas

O método `describe()` do pandas é uma ferramenta essencial na análise estatística de dados. Ele fornece um resumo estatístico conciso e informativo de um DataFrame ou de uma Series, permitindo aos analistas uma rápida compreensão das principais características numéricas dos dados. O resultado do `describe()` inclui as seguintes medidas estatísticas:

- Contagem (**count**): Indica o número de observações válidas no conjunto de dados, excluindo valores ausentes (NaN).

- Média (**mean**): Representa a média aritmética dos valores no conjunto de dados, fornecendo uma noção geral da tendência central dos dados.

- Desvio Padrão (**std**): O desvio padrão é uma medida da dispersão dos dados em torno da média. Valores mais altos indicam maior variabilidade.

- Mínimo (**min**): Mostra o valor mínimo encontrado no conjunto de dados, indicando o menor valor observado.



![aed-pdf-111.png]()



- 25º Percentil (25%): É o valor abaixo do qual 25% dos dados estão localizados. Também conhecido como primeiro quartil.

- Mediana (50%): É o valor que divide os dados ao meio, com 50% dos valores abaixo e 50% acima. Também conhecida como segundo quartil.

- 75º Percentil (75%): É o valor abaixo do qual 75% dos dados estão localizados. Também conhecido como terceiro quartil.

- Máximo (max): Mostra o valor máximo encontrado no conjunto de dados, indicando o maior valor observado.


Podemos observar a moda para uma coluna específica utilizando o método .mode `df['coluna1'].mode()`

In [ ]:
dfClientes_trat.describe()

           numero        peso  valor_compra
count  158.000000  158.000000    158.000000
mean   559.512658   73.341772   3349.367089
std    268.175476   12.552956   1525.066432
min    101.000000   50.000000   1400.000000
25%    314.000000   63.250000   2100.000000
50%    585.000000   73.000000   3400.000000
75%    802.250000   83.000000   5300.000000
max    999.000000   99.000000   5300.000000

In [ ]:
dfClientes_trat['valor_compra'].mode()

0    5300.0
Name: valor_compra, dtype: float64

In [ ]:
dfClientes_trat['cidade'].mode()

0     Fortaleza
1    Rio Branco
Name: cidade, dtype: object

In [ ]:
dfClientes_trat['sexo'].mode()

0    Masculino
Name: sexo, dtype: object

# Análises a nível de colunas

todas as medidas disponíveis e agrupadas no `.describle()` estão disponíveis como métodos individuais, podendo ser aplicados a colunas específicas

In [ ]:
dfClientes_trat['valor_compra'].mean()

3349.3670886075947

podemos analisar os valores únicos dentro de uma coluna com o método `.unique()`

In [ ]:
dfClientes_trat['cidade'].unique()

array(['Parnamirim', 'Aracaju', 'Maceió', 'Palmas', 'Castanhal',
       'Rio Verde', 'Boa Vista', 'Brasília', 'Rondonópolis', 'São Mateus',
       'Caxias do Sul', 'Manaus', 'Rio Branco', 'Natal', 'João Pessoa',
       'Serra', 'Teresina', 'Salvador', 'Vitória', 'Novo Hamburgo',
       'Campos dos Goytacazes', 'São Paulo', 'Mauá', 'Foz do Iguaçu',
       'Sabará', 'Gravatá', 'São Luís', 'Macapá', 'Aracruz', 'Betim',
       'Ponta Porã', 'Araguaína', 'Campina Grande', 'Rio de Janeiro',
       'Campo Grande', 'Santo Antônio do Descoberto', 'Santana',
       'Águas Lindas de Goiás', 'Fortaleza', 'Cuiabá', 'Boa Esperança',
       'Brusque', 'Cachoeiro de Itapemirim', 'Presidente Prudente',
       'Várzea Grande', 'Curitiba', nan, 'Duque de Caxias', 'Arapiraca',
       'Cariacica', 'Três Lagoas', 'Belém', 'Parnaíba', 'Guarapari',
       'São Leopoldo', 'Ananindeua', 'Planaltina', 'Feira de Santana',
       'Porto Velho', 'Toledo', 'Jaboatão dos Guararapes', 'Goiânia',
       'Araranguá', 'São Gonçalo', 'Nova Iguaçu', 'Picos', 'Camaçari',
       'Recife', 'Camaragibe', 'São Bento do Sul', 'Patos', 'Araucária',
       'Alegrete', 'Maranguape', 'Poá', 'Sobral', 'Lages', 'Arapongas',
       'Cabedelo'], dtype=object)

com o método `.nunique()` recebemos apenas o número de valores únicos dentro da coluna

In [ ]:
dfClientes_trat['cidade'].nunique()

78

Quantidade de vendas feitas para cada estado. Para essa análise usaremos o `.value_counts()`.

Esse método da biblioteca Pandas em Python que é usado para contar as ocorrências únicas de valores em uma Série (uma coluna de um DataFrame).

In [ ]:
dfClientes_trat['estado'].value_counts()

CE    11
ES    10
PI     9
BA     9
AC     9
TO     7
MS     7
PR     7
RR     7
DF     7
RJ     7
RN     6
SP     6
PB     6
GO     6
PE     5
AP     5
AL     5
SE     4
RS     4
MA     4
PA     4
SC     4
MT     3
AM     2
MG     2
RO     2
Name: estado, dtype: int64

# Aplicação de filtros

Podemos estabelecer condições de filtragem, para associar com a maioria dos métodos vistos anteriormente.

com a estrutura `df[filtro]['coluna1'].value_counts()` estabelecemos uma condição de filtragem para uma coluna específica e associamos a outra que sofrerá a contagem com base no filtro definido

Queremos saber o valor total pago em compras pelos clientes do estado da Paraíba

In [ ]:
filtro = dfClientes_trat['estado']=='PB'

dfClientes_trat[filtro]['valor_compra'].sum()

24300.0

Queremos saber o valor total pago pelas clientes (sexo feminino) da Paraíba.  Nesse caso faremos uma associação de filtros.

No Pandas temos o os operadores lógicos `&` que equivalem ao and em Python e `|` que é equivalente ao o or.

In [ ]:
filtro1 = (dfClientes_trat['estado']== 'PB') & (dfClientes_trat['sexo']=='Feminino')
filtro2 = (dfClientes_trat['estado']== 'PB') & (dfClientes_trat['sexo']=='Masculino')

gastoFeminino= dfClientes_trat[filtro1]['valor_compra'].sum()

gastoMasculino = dfClientes_trat[filtro2]['valor_compra'].sum()

Podemos modificar as linhas com base em algum filtro específico

`df['nome da coluna a ser alterada'][filtro] = 'novo valor'`:

In [ ]:
filtro= dfClientes_trat['sexo']=='Feminino'
dfClientes_trat['sexo'][filtro] = 'f'
dfClientes_trat

# ATIVIDADE

#ANO 2022

Com base nesse conjuntos de dados ([Link para Acidentes2022.csv](https://)), que relaciona os acidentes que foram registrados pela PRF no ano de 2022, responda as questões abaixo:

Faça as checagem de nulicidade de linhas e colunas e Realize o tratamento dos dados de forma que o dataFrame esteja organizado para responder as questões abaixo e elabore um texto explicando os resultados obtidos e correlacionando eles

In [ ]:
import pandas as pd

In [ ]:
dfAcidentes2022 = pd.read_csv('https://raw.githubusercontent.com/techcomkathia/datasets/main/acidentes2022.csv', sep = ';')
dfAcidentes2022

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,405151,2022-01-01,sábado,01:35:00,PI,316.0,415,MARCOLANDIA,Ingestão de álcool pelo condutor,Colisão traseira,...,0,1,0,1,2,"-7,43280012","-40,68261908",SPRF-PI,DEL04-PI,UOP03-DEL04-PI
1,405158,2022-01-01,sábado,02:40:00,PR,116.0,33,CAMPINA GRANDE DO SUL,Ingestão de álcool pelo condutor,Tombamento,...,0,0,0,1,1,"-25,114403","-48,8467554",SPRF-PR,DEL01-PR,UOP02-DEL01-PR
2,405172,2022-01-01,sábado,05:22:00,MS,163.0,393,NOVA ALVORADA DO SUL,Condutor deixou de manter distância do veículo...,Colisão traseira,...,0,1,0,1,2,"-21,228445","-54,456296",SPRF-MS,DEL02-MS,UOP01-DEL02-MS
3,405203,2022-01-01,sábado,07:00:00,RJ,101.0,457,ANGRA DOS REIS,Reação tardia ou ineficiente do condutor,Colisão frontal,...,1,1,0,1,2,"-23,03149804","-44,17715297",SPRF-RJ,DEL03-RJ,UOP02-DEL03-RJ
4,405207,2022-01-01,sábado,09:00:00,MG,40.0,"508,3",RIBEIRAO DAS NEVES,Acumulo de água sobre o pavimento,Saída de leito carroçável,...,0,3,0,0,1,"-19,76061249","-44,1347544",SPRF-MG,DEL02-MG,UOP01-DEL02-MG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64542,516543,2022-11-06,domingo,20:00:00,PI,316.0,313,PICOS,Ausência de reação do condutor,Colisão transversal,...,1,1,2,1,2,"-7,07959049","-41,44975182",SPRF-PI,DEL04-PI,UOP01-DEL04-PI
64543,516703,2022-05-03,terça-feira,02:30:00,ES,262.0,17,VIANA,Velocidade Incompatível,Saída de leito carroçável,...,0,0,1,0,1,"-20,38635961","-40,47272969",SPRF-ES,DEL01-ES,UOP01-DEL01-ES
64544,516707,2022-11-29,terça-feira,19:00:00,MG,146.0,459,BOTELHOS,Transitar na contramão,Colisão frontal,...,1,0,0,2,2,"-21,62224461","-46,40968323",SPRF-MG,DEL09-MG,UOP01-DEL09-MG
64545,516846,2022-07-31,domingo,09:54:00,CE,116.0,5,FORTALEZA,Manobra de mudança de faixa,Tombamento,...,0,0,1,1,2,"-3,79654632","-38,50665092",SPRF-CE,DEL01-CE,UOP02-DEL01-CE
64546,516931,2022-11-17,quinta-feira,18:13:00,PR,277.0,"11,8",PARANAGUA,Animais na Pista,Atropelamento de Animal,...,2,0,0,2,1,"-25,56418984","-48,63272406",SPRF-PR,DEL01-PR,UOP05-DEL01-PR

In [ ]:
dfAcidentes2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184568 entries, 0 to 184567
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   id                      184568 non-null  int64
 1   data_inversa            184568 non-null  object
 2   dia_semana              184568 non-null  object
 3   horario                 184568 non-null  object
 4   uf                      184568 non-null  object
 5   br                      184568 non-null  object
 6   km                      184568 non-null  object
 7   municipio               184568 non-null  object
 8   causa_acidente          184568 non-null  object
 9   tipo_acidente           184568 non-null  object
 10  classificacao_acidente  184568 non-null  object
 11  fase_dia                184568 non-null  object
 12  sentido_via             184568 non-null  object
 13  condicao_metereologica  184568 non-null  object
 14  tipo_pista              184568 non-null  object
 15  tracado_via             184568 non-null  object
 16  uso_solo                184568 non-null  object
 17  ano                     184568 non-null  int64
 18  pessoas                 184568 non-null  int64
 19  mortos                  184568 non-null  int64
 20  feridos_leves           184568 non-null  int64
 21  feridos_graves          184568 non-null  int64
 22  ilesos                  184568 non-null  int64
 23  ignorados               184568 non-null  int64
 24  feridos                 184568 non-null  int64
 25  veiculos                184568 non-null  int64
dtypes: int64(10), object(16)
memory usage: 36.6+ MB

In [ ]:
(dfAcidentes2022['id'][0] , dfAcidentes2022['data_inversa'][0])

(405151, '2022-01-01')

## 1. Quantos acidentes foram registrados ao longo de todo o ano de 2022?

In [ ]:
totalAcidentes2022 = dfAcidentes2022['id'].count()
totalAcidentes2022

64547

## 2. Quantos obitos ocorreram ?

In [ ]:
dfAcidentes2022.columns

Index(['id', 'data_inversa', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

In [ ]:
totalMortos2022 = dfAcidentes2022['mortos'].sum()
totalMortos2022

5439

## 3. Qual estado registrou mais acidentes? Qual registrou menos?

In [ ]:
contagem_acidentes_por_estado2022 = dfAcidentes2022['uf'].value_counts()

contagem_acidentes_por_estado2022

MG    8290
SC    7589
PR    7377
RS    4929
RJ    4704
SP    4385
BA    3440
GO    3112
PE    2746
ES    2278
MT    2175
MS    1638
PB    1474
RO    1378
CE    1373
RN    1287
PI    1114
MA    1084
DF     922
PA     831
AL     595
TO     568
SE     511
RR     229
AC     224
AP     180
AM     114
Name: uf, dtype: int64

## 4. Qual foi o número máximo de veículos envolvidos em um acidente?

In [ ]:
maxVeiculosEnvAcidente2022 = dfAcidentes2022['veiculos'].max()
maxVeiculosEnvAcidente2022

21

## 5. Qual o total de acidentes que ocorreram na BR 116?

In [ ]:
filtro = dfAcidentes2022['br']== 116.0

In [ ]:
totalAcidentesBR116_2022 = dfAcidentes2022[filtro]['id'].count()
totalAcidentesBR116_2022

3132

## 6.Qual o total de feridos por Ingestão de álcool pelo condutor	nos finais de semana

In [ ]:
dfAcidentes2022['dia_semana'].unique()

array(['sábado', 'domingo', 'segunda-feira', 'terça-feira',
       'quarta-feira', 'quinta-feira', 'sexta-feira'], dtype=object)

In [ ]:
dfAcidentes2022['causa_acidente'].unique()

array(['Ingestão de álcool pelo condutor',
       'Condutor deixou de manter distância do veículo da frente',
       'Reação tardia ou ineficiente do condutor',
       'Acumulo de água sobre o pavimento', 'Mal súbito do condutor',
       'Chuva', 'Ausência de reação do condutor',
       'Manobra de mudança de faixa', 'Pista Escorregadia',
       'Ausência de sinalização', 'Condutor Dormindo',
       'Velocidade Incompatível',
       'Acessar a via sem observar a presença dos outros veículos',
       'Conversão proibida', 'Transitar na contramão',
       'Ultrapassagem Indevida',
       'Desrespeitar a preferência no cruzamento',
       'Acostamento em desnível', 'Demais falhas mecânicas ou elétricas',
       'Carga excessiva e/ou mal acondicionada', 'Problema com o freio',
       'Ingestão de álcool e/ou substâncias psicoativas pelo pedestre',
       'Curva acentuada', 'Estacionar ou parar em local proibido',
       'Avarias e/ou desgaste excessivo no pneu',
       'Pedestre cruzava a pista fora da faixa', 'Obstrução na via',
       'Acesso irregular', 'Pista esburacada', 'Animais na Pista',
       'Falta de acostamento', 'Entrada inopinada do pedestre',
       'Acumulo de areia ou detritos sobre o pavimento',
       'Pedestre andava na pista', 'Desvio temporário',
       'Transitar no acostamento', 'Problema na suspensão',
       'Objeto estático sobre o leito carroçável',
       'Deficiência do Sistema de Iluminação/Sinalização',
       'Trafegar com motocicleta (ou similar) entre as faixas',
       'Condutor usando celular',
       'Restrição de visibilidade em curvas horizontais',
       'Ingestão de álcool ou de substâncias psicoativas pelo pedestre',
       'Declive acentuado', 'Frear bruscamente', 'Iluminação deficiente',
       'Área urbana sem a presença de local apropriado para a travessia de pedestres',
       'Demais Fenômenos da natureza', 'Demais falhas na via',
       'Faixas de trânsito com largura insuficiente', 'Obras na pista',
       'Retorno proibido', 'Afundamento ou ondulação no pavimento',
       'Falta de elemento de contenção que evite a saída do leito carroçável',
       'Ingestão de substâncias psicoativas pelo condutor', 'Neblina',
       'Condutor desrespeitou a iluminação vermelha do semáforo',
       'Sistema de drenagem ineficiente',
       'Acumulo de óleo sobre o pavimento', 'Sinalização mal posicionada',
       'Pista em desnível', 'Transitar na calçada', 'Fumaça',
       'Redutor de velocidade em desacordo',
       'Deixar de acionar o farol da motocicleta (ou similar)',
       'Restrição de visibilidade em curvas verticais',
       'Semáforo com defeito', 'Faróis desregulados',
       'Modificação proibida', 'Participar de racha',
       'Sinalização encoberta'], dtype=object)

In [ ]:
filtroCausaAcidente = (dfAcidentes2022['causa_acidente'] == 'Ingestão de álcool pelo condutor')
sexta =  (dfAcidentes2022['dia_semana'] == 'sexta-feira')
sabado = (dfAcidentes2022['dia_semana'] == 'sábado')
domingo = (dfAcidentes2022['dia_semana'] == 'domingo')
filtroFinaldeSemana =  sexta | sabado | domingo
# and & or |

filtro =  filtroCausaAcidente & filtroFinaldeSemana

feridosAlcool2022= dfAcidentes2022[filtro]['id'].count()
feridosAlcool2022

3132

# ANO 2012
 Com base nessas informações para o ano de 2022, realize as mesmas análises em 2012 e avalie o que mudou no espaço de 10 anos. O link para os arquivos [link para Acientes2012.csv](https://github.com/techcomkathia/datasets/blob/main/acidentes2012.csv)

In [ ]:
dfAcidentes2012 = pd.read_csv('https://raw.githubusercontent.com/techcomkathia/datasets/main/acidentes2012.csv', sep = ';')
dfAcidentes2012

<ipython-input-2-dde45ff55dd0>:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  dfAcidentes2012 = pd.read_csv('https://raw.githubusercontent.com/techcomkathia/datasets/main/acidentes2012.csv', sep = ';')

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,uso_solo,ano,pessoas,mortos,feridos_leves,feridos_graves,ilesos,ignorados,feridos,veiculos
0,1035523,2012-01-01,Domingo,15:45:00,SC,282,513.7,XAXIM,Velocidade incompatível,Saída de Pista,...,Rural,2012,2,0,1,0,1,0,1,1
1,1035527,2012-01-01,Domingo,03:00:00,SC,280,188,MAFRA,Ingestão de álcool,Colisão lateral,...,Rural,2012,3,0,1,0,2,0,1,2
2,1035528,2012-01-01,Domingo,05:40:00,SC,116,1.5,MAFRA,Velocidade incompatível,Colisão com objeto fixo,...,Urbano,2012,1,0,0,0,1,0,0,1
3,1035530,2012-01-01,Domingo,06:00:00,RO,364,616.5,ITAPUÃ DO OESTE,Outras,Saída de Pista,...,Rural,2012,1,0,1,0,0,0,1,1
4,1035533,2012-01-01,Domingo,16:30:00,RJ,101,47,CAMPOS DOS GOYTACAZES,Ingestão de álcool,Queda de motocicleta / bicicleta / veículo,...,Rural,2012,1,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184563,83441270,2012-01-09,Segunda,11:30:00,CE,116,14.5,FORTALEZA,Falta de atenção,Colisão lateral,...,Urbano,2012,2,0,0,0,2,0,0,2
184564,83441274,2012-01-04,Quarta,08:00:00,CE,116,30.0,AQUIRAZ,Outras,Saída de Pista,...,Rural,2012,1,0,0,0,0,1,0,1
184565,83441277,2012-05-10,Quinta,18:00:00,CE,116,9.0,FORTALEZA,Falta de atenção,Atropelamento de pessoa,...,Urbano,2012,2,0,0,1,1,0,1,1
184566,83441278,2012-09-29,Sábado,06:10:00,CE,222,273.3,COREAU,Outras,Colisão lateral,...,Rural,2012,2,0,0,0,2,0,0,2
184567,83444176,2012-04-05,Quinta,20:00:00,CE,116,180.0,RUSSAS,Animais na Pista,Atropelamento de animal,...,Rural,2012,2,0,0,0,2,0,0,1

In [ ]:
dfAcidentes2012.info()

In [ ]:
(dfAcidentes2012['id'][0] , dfAcidentes2012['data_inversa'][0])

(1035523, '2012-01-01')

## 1. Quantos acidentes foram registrados ao longo de todo o ano de 2022?

In [ ]:
totalAcidentes2012 = dfAcidentes2012['id'].count()
totalAcidentes2012

184568

## 2. Quantos obitos ocorreram ?

In [ ]:
dfAcidentes2022.columns

Index(['id', 'data_inversa', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos', 'latitude', 'longitude', 'regional',
       'delegacia', 'uop'],
      dtype='object')

In [ ]:
totalMortes2012= dfAcidentes2012['mortos'].sum()
totalMortes2012

8663

## 3. Qual estado registrou mais acidentes? Qual registrou menos?

In [ ]:
contagem_acidentes_por_estado2012 = dfAcidentes2012['uf'].value_counts()

contagem_acidentes_por_estado2012

MG        26783
PR        20749
SC        18283
RJ        17433
RS        14110
SP        14012
BA        10281
ES         7719
GO         7691
PE         7217
MT         4284
PB         4105
RN         3868
PA         3842
CE         3746
RO         3578
MS         3338
MA         3054
PI         2768
AL         2195
SE         1672
DF         1448
TO         1179
AC          503
RR          247
AP          241
AM          218
(null)        4
Name: uf, dtype: int64

## 4. Qual foi o número máximo de veículos envolvidos em um acidente?

In [ ]:
maxVeiculosEnvAcidente2012 = dfAcidentes2012['veiculos'].max()
maxVeiculosEnvAcidente2012

20

## 5. Qual o total de acidentes que ocorreram na BR 116?

In [ ]:
filtro = dfAcidentes2012['br']== 116.0

In [ ]:
totalAcidentesBR116_2012= dfAcidentes2012[filtro]['id'].count()
totalAcidentesBR116_2012

15006

## 6.Qual o total de feridos por Ingestão de álcool pelo condutor	nos finais de semana

In [ ]:
dfAcidentes2012.columns

Index(['id', 'data_inversa', 'dia_semana', 'horario', 'uf', 'br', 'km',
       'municipio', 'causa_acidente', 'tipo_acidente',
       'classificacao_acidente', 'fase_dia', 'sentido_via',
       'condicao_metereologica', 'tipo_pista', 'tracado_via', 'uso_solo',
       'ano', 'pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos',
       'ignorados', 'feridos', 'veiculos'],
      dtype='object')

In [ ]:
dfAcidentes2012['dia_semana'].unique()

array(['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta',
       'Sábado'], dtype=object)

In [ ]:
dfAcidentes2012['causa_acidente'].unique()

array(['Velocidade incompatível', 'Ingestão de álcool', 'Outras',
       'Defeito na via', 'Falta de atenção',
       'Desobediência à sinalização',
       'Não guardar distância de segurança', 'Animais na Pista',
       'Ultrapassagem indevida', 'Defeito mecânico em veículo',
       'Dormindo', '(null)'], dtype=object)

In [ ]:
filtroCausaAcidente = (dfAcidentes2012['causa_acidente'] == 'Ingestão de álcool')
sexta =  (dfAcidentes2012['dia_semana'] == 'Sexta')
sabado = (dfAcidentes2012['dia_semana'] == 'Sábado')
domingo = (dfAcidentes2012['dia_semana'] == 'Domingo')
filtroFinaldeSemana =  sexta | sabado | domingo
# and & or |

filtro =  filtroCausaAcidente & filtroFinaldeSemana

feridosAlcool2012 =dfAcidentes2012[filtro]['id'].count()
feridosAlcool2012

5558

# ANÁLISE DOS DADOS DOS DOIS ANOS

Quantidade de acidentes

In [ ]:
(totalAcidentes2022, totalAcidentes2012)

(64547, 184568)

Diferença entre óbitos

In [ ]:
(totalMortos2022, totalMortes2012)

(5439, 8663)

Estados e seus indices

In [ ]:
contagem_acidentes_por_estado2012
# 1º MG - 26783
# último AM - 218

contagem_acidentes_por_estado2022
# 1º MG - 8290
# último AM - 114

  Quantidade maxima de veículos em uma acidente

In [ ]:
(maxVeiculosEnvAcidente2012, maxVeiculosEnvAcidente2022)

(20, 21)

Acidentes na BR 116

In [ ]:
(totalAcidentesBR116_2022, totalAcidentesBR116_2012)

(3132, 15006)

Feridos alcool

In [ ]:
(feridosAlcool2022, feridosAlcool2012)

(3132, 5558)